node_modules/
.expo/
.expo-shared/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# macOS
.DS_Store

# IDE
.vscode/
.idea/

# Environment
.env
.env.local




















/asaancar-app-20260113-0620.aab
/asaancar-app-signed-correctly.aab
